* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(3, 52, 45);
  display: flex;
  height: 90px;
  align-items: center;
  width: 100%;
  height: 60px;
}

.container-title {
  width: 80%;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(65, 25, 127);
  width: 40%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(65, 25, 127);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(65, 25, 127);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 272px;
  border: 2px solid rgb(234, 234, 233);
  box-shadow: 0px 3px 4px rgba(90, 92, 90, 0.356);
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
}

.item:hover {
  transition-duration: 500ms;
  box-shadow: 0px 2px 10px rgba(5, 26, 12, 0.53);
  width: 275px;
}

.item .item_id {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  word-spacing: 1.8px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.item .item__image {
  width: 60%;
  order: -1;
  align-self: center;
}

.item .item_price {
  margin: 8px;
  margin-top: 18px;
  font-size: 20px;
  color: rgb(72, 30, 124);
}

.item .item__add {
  background-color: rgb(4, 91, 85);
  border: 0;
  align-self: center;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  cursor: pointer;
  margin: 0;
  margin-bottom: 5px;
  width: 248px;
  height: 30px;
  color: white;
}

.item .item__add:hover {
  transition-duration: 550ms;
  background-color: rgb(47, 193, 140);
  box-shadow: 0px 2px 5px rgb(3, 107, 82)
}

.item .item__add:active {
  background-color:  rgb(65, 25, 127);
  transition-duration: 100ms;
  box-shadow: -2px 2px 2px rgb(219, 169, 244);
  transition-timing-function: ease-in-out;
}

.cart {
  display: flex;
  flex-basis: 33%;
  flex-flow: column wrap;
  background-color: rgb(236, 236, 237);
  height: 100vh;
}

.hide {
  display: none;
}

.cart .cart__items {
  height: 500px;
  overflow-y: scroll;
}

.empty-cart {
  width: 170px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid rgb(69, 152, 90);
  background-color: rgb(229, 237, 220);
}

.material-icons {
  -webkit-text-stroke: 2px rgb(65, 25, 127);
}
.clicked {
  -webkit-text-stroke: 0.2px white;
}

.title-price {
  display: flex;
}
