* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(3, 107, 82);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.container-title {
  width: 80%;
}

.title {
  color: rgb(221, 219, 223);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(65, 25, 127);
  width: 40%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(65, 25, 127);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(65, 25, 127);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: rgb(254, 254, 254);
  text-align: center;
  font-size: 23px;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 272px;
  border: 2px solid rgb(234, 234, 233);
  box-shadow: 0.3px 3px 4px rgba(90, 92, 90, 0.356);
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
}

.item:hover {
  transition-duration: 500ms;
  box-shadow: 0.3px 5px 10px rgba(5, 26, 12, 0.454);
  width: 274px;
}

.item .item_id {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: rgb(68, 73, 85);
  margin-left: 18px;
  margin-right: 18px;
}

li .item__image {
  border-radius: 100%;
  width: 107px;
  height: 107px;
  margin-top: -20px;
  margin-left: 40px;
}

.item .item__image {
  width: 60%;
  order: -1;
  align-self: center;
}

.item .item_price {
  margin: 8px;
  margin-top: 18px;
  margin-left: 20px;
  font-size: 23.5px;
  font-weight: 600;
  color: rgb(72, 30, 124);
}

.item .item__add {
  background-color: rgb(4, 91, 85);
  border: 0;
  align-self: center;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 0;
  margin-bottom: 5px;
  width: 248px;
  height: 30px;
  color: white;
}

.item .item__add:hover {
  transition-duration: 550ms;
  background-color: rgb(47, 193, 140);
  box-shadow: 0.3px 2px 5px rgb(3, 107, 82);
}

.item .item__add:active {
  background-color: rgb(65, 25, 127);
  transition-duration: 100ms;
  box-shadow: 2px 2px 2px rgba(39, 23, 50, 0.582);
  transition-timing-function: ease-in-out;
}

.cart {
  display: flex;
  flex-basis: 32.5%;
  flex-flow: column wrap;
  background-color: rgb(236, 236, 237);
  height: 100vh;
}

.cart__item {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding-right: 40px;
  gap: 20px;
  color: rgb(68, 73, 85);
}

.hide {
  display: none;
}

.cart .cart__items {
  display: flex;
  flex-direction: column;
  height: 700px;
  overflow-y: scroll;
}

.empty-cart {
  width: 248px;
  height: 30px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: rgb(65, 25, 127);
  font-weight: 600;
  font-size: 16px;
  color: white;
  box-shadow: 2px 2px 2px rgba(39, 23, 50, 0.582);
}

.empty-cart:active {
  background-color: rgb(79, 38, 141);
  font-weight: 600;
  width: 247px;
  height: 29px;
  color: white;
  box-shadow: 2px 2px 2px rgba(39, 23, 50, 0.582);
}

.material-icons {
  -webkit-text-stroke: 2px rgb(65, 25, 127);
}

.clicked {
  -webkit-text-stroke: 1px rgba(66, 25, 127, 0.422);
}

.title-price {
  display: flex;
  color: rgb(22, 8, 42);
  font-weight: 600;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 14px;
  margin-top: 20px;
}

.counter {
  background-color: rgb(237, 0, 0);
  color: rgb(247, 244, 255);
  font-weight: 600;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 100%;
}

.detale {
  height: 18px;
  order: 2;
}
